@media only screen and (max-width:450px) {
    
    .slider-card{
    padding: 10px 20px;
    }

    .p-quot{
        font-size: 30px;
    }
    .card-p{
        width: 250px;
        padding: 0px 5px;
        /* text-align: center; */
        font-size: 16px;
    }

}
.in{
    background-color: #0A66C2;
    border-radius: 2px;
    color: white;
    padding: 0px 4px;
}